:root {
  --nav-background:#FFFFFF;
  --nav-font-color:#000000;
  --primary-font-family:Montserrat, sans-serif;
  --secondary-font-family:Roboto, sans-serif;
  --hello-button-font-color:#FFFFFF;
  --aboutme-font-color:#2C2C2E;
  --mycompany-font-color:#3040E5;
  --intro-background-color:#FFFFFF;
  --social-icon-color:#000000;
  --project-contanior-background-color:#F4F6FB;
  --project-category-background:#F4F6FB;
  --project-description:#2C2C2E;
  --project-logo-contanior-background:#FFFFFF;
  --tool-name-color:#000000;
  --tool-description-color:#2C2C2E;
  --seperator-color:#DEDEDE;
  --load-more-background-color:#F2F2F7;
  --nar-bar-menu-font-color:#000000;
  --nar-bar-menu-background-color:#F2F2F7;
  --footer-background-color:#F4F6FB;
}

.dark-mode {
  --nav-background:#000000;
  --nav-font-color:#FFFFFF;
  --secondary-font-family:Roboto, sans-serif;
  --primary-font-family:Montserrat, sans-serif;
  --hello-button-font-color:#FFFFFF;
  --aboutme-font-color:rgba(255, 255, 255, 0.7411764706);
  --mycompany-font-color:#FFFFFF;
  --intro-background-color:#050519;
  --social-icon-color:#FFFFFF;
  --project-contanior-background-color:#2A2A36;
  --project-category-background:#282C34;
  --project-description:#D9D9D9;
  --project-logo-contanior-background:#FFFFFF;
  --tool-name-color:#FFFFFF;
  --tool-description-color:#D9D9D9;
  --seperator-color:#6F7279;
  --load-more-background-color:#333B4A;
  --nar-bar-menu-font-color:#FFFFFF;
  --nar-bar-menu-background-color:#282C34;
  --footer-background-color:#282C34;
}

.contanior__application-and-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 40px;
  background-color: var(--intro-background-color);
}

.application-and-tools__header {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 36px;
  color: var(--nav-font-color);
}

.app-and-tools-wrapper__all-of-my-top-row-tools, .app-and-tools-wrapper__all-of-my-bottom-row-tools {
  display: flex;
  gap: 40px;
}

.application-and-tools__app-and-tools-wrapper {
  display: flex;
  flex-direction: column;
}

.all-of-my-top-row-tools__indivisual-tools,
.all-of-my-bottom-row-tools__indivisual-tools {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}

.indivisual-tools__tool-image-and-name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tool-image-and-name__image-contanior {
  height: 68px;
  width: 68px;
  border-radius: 71px;
  box-shadow: 3px 2px 24px 0px rgba(0, 0, 0, 0.0901960784);
  background-color: #f4f6fb;
}

.image-contanior__tool-image {
  position: relative;
  top: 14px;
  left: 17px;
}

.image-contanior-for-git-and-github__git-image {
  height: 68px;
  width: 68px;
  border-radius: 71px;
  box-shadow: 3px 2px 24px 0px rgba(0, 0, 0, 0.0901960784);
  z-index: 2;
  background-color: #f4f6fb;
}

.image-contanior-for-git-and-github__github-image {
  height: 68px;
  width: 68px;
  border-radius: 71px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1098039216);
  position: relative;
  left: -29px;
  background-color: #f4f6fb;
}

.tool-image-and-name__image-contanior-for-git-and-github {
  display: flex;
}

.github-image, .git-image {
  position: relative;
  top: 14px;
  left: 12px;
}

.github-image {
  height: 38px;
}

.application-and-tools__app-and-tools-wrapper {
  justify-content: center;
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tool-image-and-name__tool-name {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--primary-font-family);
  color: var(--tool-name-color);
}

.indivisual-tools__tool-description {
  font-family: var(--primary-font-family);
  padding-bottom: 20px;
  padding-right: 20px;
  color: var(--tool-description-color);
}

.app-and-tools-wrapper__seperator {
  height: 1px;
  background-color: var(--seperator-color);
}

.app-and-tools-wrapper__load-more-app-and-tools {
  width: 85%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 40px;
  border-radius: 43px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15.71px;
  background-color: var(--load-more-background-color);
  height: 44px;
  align-items: center;
}

.load-more-app-and-tools__load-text {
  color: var(--nav-font-color);
}/*# sourceMappingURL=tools-and-application.css.map */